.seccion-titulo {
  font-family: 'Architects Daughter', cursive;
  font-size: 3rem;
  padding: 15px 0;
  text-align: center;
}

.seccion-descripcion {
  font-size: 2rem;
  color: #584e4e;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .seccion-titulo {
    font-size: 2rem;
  }
  .seccion-descripcion {
    font-size: 1.5rem;
  }
}